DASHSCOPE_API_KEY=
DASHSCOPE_BASE_URL=https://dashscope-intl.aliyuncs.com/compatible-mode/v1
QWEN_MODEL=qwen3.7-plus
QWEN_BACKUP_MODEL=qwen3.7-flash
STACKPLAN_API_URL=http://127.0.0.1:8000
FRONTEND_PORT=5050
POSTGRES_DB=stackplan
POSTGRES_USER=stackplan
POSTGRES_PASSWORD=stackplan_dev
POSTGRES_PORT=5433
